body {
    font-family: "Oleo Script", sans-serif;
    margin: 0 auto;
}

h1 {
    /* block은 자체  */
    margin: 0 auto;
    color: whitesmoke;
}

header {
    height: 50px;
    background-image: url(/img/low-angle-shot-mesmerizing-starry-sky_181624-27925.avif);
}